<div class="col-md-4 offset-4 mt-4">
    <div class="card-body">
        <h5 class="h5 text-left"><ins>Registration Form</ins></h5>
    <form action="#">
    <div class="input-container">
      <i class="fa fa-user icon">firstnameandLastname</i>
      <input class="input-field" type="text" placeholder="Firstname" name="usrnm">
      <input class="input-field" type="text" placeholder="Lastname" name="usrnm">
    </div>
  
    <div class="input-container">
      <i class="fa fa-envelope icon">email</i>
      <input class="input-field" type="text" placeholder="Email" name="email">
    </div>
  
    <div class="input-container">
      <i class="fa fa-key icon">password</i>
      <input class="input-field" type="password" placeholder="Password" name="psw">
    </div>

    <div class="input-container">
        <i class="fa fa-key icon">DOB</i>
        <input class="input-field" type="Date" placeholder="dd-mm-yyyy" name="psw">
      </div>
    <div class="btn-group" role="group" aria-label="">
        <button type="button" class="btn btn-secondary">Reset</button>
        <button type="submit" class="btn btn-secondary">Register</button>
      </div>
  </form>
  </div>
  </div>